{% extends "layout.twig" %}
{% block body %}
	<div class="container" style="margin-top:8%">
		<h1 class="text-center" >Mini Projet Symfony : Ski</h1>
		<h4 class="text-center" >Version : NodeJs</h4>
	</div>
{% endblock %}

