{% extends "layout.twig" %}
{% block body %}
    <div class="container" style="margin-top:8%;">
        <form method="post" action="/add/skis">
            <h1>Ajouter un ski</h1><br>
            {% include './formSki.twig' with {'button': 'Créer'} %}
        </form>
    </div>
{% endblock %}